# Write your default config options here!

# edit for mplayer user setting
# by pi 2018/03/23

framedrop=yes
fs=yes
msglevel:all=1
noar=yes
nojoystick=yes
nolirc=yes
nomouseinput=yes
#nosound=yes
prefer-ipv4=yes
really-quiet=yes
vo=x11
zoom=yes
